/* Buttons not as verdana
 #askButton, 
.short-summary .counts 
 */
#header,
#secondaryHeader,
#ground,
#questionCount, .question-page #questionCount,
.question-page #comment-title,
a.followed, a.follow,
.question-page #fmanswer h2,
.tag, .tag-right,
#header h1,
.section-title,
#question-list,
#header,
#ground,
.tabBar,
body {
    font-family: Verdana,'Yanone Kaffeesatz',Arial,sans-serif;
    background: #F1F1F1;
    color: #333333;
}

.question-page .question-body, .question-page .answer-body,
.question-page h1,
.quesiton-content,
.box h2, .box h3, .box label,
.box .contributorback,
.user-about,
.question-page #comment-title,
.short-summary {
    font-family: Verdana,'Yanone Kaffeesatz',Arial,sans-serif;
    background: #FFF;
    color: #333333;
}

.box h2 {
   text-align: left;
   border-bottom: 1px solid #DDDDDD;
   margin-bottom: 0.5em;
   padding: 0;
}

.short-summary a,
.evenMore a,
.footer-links a,
#metaNav a,
#userToolsNav .user-info, #userToolsNav .user-micro-info,
.tabsA a, .tabsC a,
#userToolsNav a,
a {
    color: #D7641E;
    text-decoration: none;
}


.short-summary a:hover,
.evenMore a:hover,
.footer-links a:hover,
#metaNav a:hover,
#userToolsNav .user-info, #userToolsNav .user-micro-info a:hover,
#userToolsNav a:hover,
.tabsA a.on, .tabsC a.on, .tabsA a:hover, .tabsC a:hover,
a:hover {
    color: #944515;
    text-decoration: underline;
}

#ContentRight {
    padding: 5px 10px;
}

.user-info-table,
.user-stats-table table,
body.question-page #ContentLeft,
div.short-summary,
#ContentRight .box {
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    padding: 15px;
}


body.question-page #ContentLeft {
    padding: 0;
}

ul.tags, ul.tags.marked-tags, ul#related-tags {
    display: inline-block;
}


#header .header-media {
    border-bottom: 1px solid #DDDDDD;
}

#header h1 {
  margin: 5px 0;
}

.question-page .vote-buttons .notify-sidebar label {
   font-size: 14px;
} 

.follow-toggle, .submit {
   width: auto;
}

#searchBar {
   width: 250px;
   
}
#searchBar .searchInput {
   width: auto;
   font-size: 14px;
}
