<!-- template header.html -->
{% import "macros.html" as macros %}

<div id="header"
    class="{% if settings.SHOW_LOGO %}with-logo{% else %}without-logo{% endif %}">
    <div class="content-wrapper header-media">
        <div id="userToolsNav">
            {% include "widgets/user_navigation.html" %}
        </div>

        <div id="languageBar">
        {% for (lang, lang_name) in LANGUAGES %}
          <form action="{% url askbotopenmooc.app.views.set_language %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{ lang }}" name="language">
          <input class="btn btn-link"
            {% if LANGUAGE_CODE == lang %}disabled="disabled"{% endif %}
                 type="submit" value="{{ lang_name }}">
          </form>
        {% endfor %}
        </div>

        {% if settings.SHOW_LOGO %}
            {% include "widgets/logo.html" %}
        {% endif %}


        <div id="metaNav">
            {% include "widgets/meta_nav.html" %}
        </div>

        <div class="clean"></div>

    </div>

    <div class="content-wrapper">
      {% with openmooc_settings.COURSE_TITLE as COURSE_TITLE %}
          <h1>{% trans %} {{COURSE_TITLE}} Q&A {% endtrans %}</h1>
      {% endwith %}
    </div>
</div>

<div class="clean"></div>
<!-- end template header.html -->



